# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ / VSCode
.idea/
*.iml
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker volumes
.pgdata/

# Credenciais locais
application-*.yml
application-*.properties
!application.yml
